# Compiled Java class files
*.class

# Log files
*.log

# Maven build output
/target/

# Maven wrapper folder
.mvn/

# IDE-specific configuration files

# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Operating System files
.DS_Store
Thumbs.db
